* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgb(76, 41, 111), #884227);
}

.glass {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 3svh;
  border: 0.2svh solid rgba(20, 20, 20, 0.1);
  border-radius: 5svh;
  box-shadow: 0.2svh 0.7svh 1svh rgba(35, 35, 35, 0.7);
  backdrop-filter: blur(2svh);
  -webkit-backdrop-filter: blur(2svh);
  background: rgba(0, 0, 0, 0.5);
}

.triangle {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 30svh;
  left: 140svh;
  height: 30svh;
  width: 30svh;
}

.display {
  display: flex;
  position: absolute;
  width: 10svh;
  height: 10svh;
  font-size: 4.5svh;
  background-image: linear-gradient(45deg, rgb(0, 240, 255), rgb(130, 0, 255), rgb(255, 0, 115));
  background-repeat: no-repeat;
  background-size: 150% 200%;
  border-radius: 50%;
  outline: 0.4svh solid;
  outline-color: white;
  animation: move 10s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  transition: background-position 0.3s;
}

#top {
  position: inherit;
  top: -5svh;
  align-items: center;
  justify-content: center;
}

#left {
  position: inherit;
  top: 25svh;
  align-items: center;
  justify-content: center;
  margin-right: 30svh;
}

#right {
  position: inherit;
  top: 25svh;
  align-items: center;
  justify-content: center;
  margin-left: 30svh;
}

.button {
  display: flex;
  position: relative;
  border: solid 0.2svh transparent;
  border-radius: 50%;
  margin: 3svh;
  -webkit-background-clip: text;
  background-clip: text;
  width: 7svh;
  height: 7svh;
  justify-content: center;
  align-items: center;
  font-size: 3.5svh;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s ease;
}
.button:hover {
  transform: scale(1.2);
}

#lbtn1, #rbtn1 {
  background: linear-gradient(to top, rgba(145, 35, 206, 0.97), #ea1c69);
  background-clip: text;
  color: transparent;
}
#lbtn1::before, #rbtn1::before {
  content: "";
  position: absolute;
  top: 0svh;
  right: 0svh;
  bottom: 0svh;
  left: 0svh;
  z-index: -1;
  margin: -0.7svh;
  border-radius: inherit;
  background: linear-gradient(to top, rgba(145, 35, 206, 0.97), #ea1c69);
  mask: radial-gradient(circle, transparent 60%, white 62%);
}

#lbtn2, #rbtn2 {
  background: linear-gradient(to top, #963fff, #2fc5d5);
  background-clip: text;
  color: transparent;
}
#lbtn2::before, #rbtn2::before {
  content: "";
  position: absolute;
  top: 0svh;
  right: 0svh;
  bottom: 0svh;
  left: 0svh;
  z-index: -1;
  margin: -0.7svh;
  border-radius: inherit;
  background: linear-gradient(to top, #963fff, #2fc5d5);
  mask: radial-gradient(circle, transparent 60%, white 62%);
}

#lbtn3, #rbtn3 {
  background: linear-gradient(to top, #ff0078, #ff8f00);
  background-clip: text;
  color: transparent;
}
#lbtn3::before, #rbtn3::before {
  content: "";
  position: absolute;
  top: 0svh;
  right: 0svh;
  bottom: 0svh;
  left: 0svh;
  z-index: -1;
  margin: -0.7svh;
  border-radius: inherit;
  background: linear-gradient(to top, #ff0078, #ff8f00);
  mask: radial-gradient(circle, transparent 60%, white 62%);
}

#l {
  left: 20svh;
}

#r {
  left: 65svh;
}

@keyframes move {
  0% {
    background-position: 0% 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0% 0;
  }
}
.clickedStyles {
  display: flex;
  position: relative;
  border: solid 0.2svh transparent;
  border-radius: 50%;
  margin: 3svh;
  -webkit-background-clip: text;
  background-clip: text;
  width: 7svh;
  height: 7svh;
  justify-content: center;
  align-items: center;
  font-size: 3.5svh;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s ease;
  color: white;
  box-shadow: 0vh 0vh 2vh #ffffff;
  text-shadow: 0vh 0vh 2vh #ffffff;
  background-clip: text;
}
.clickedStyles::after {
  content: "";
  position: absolute;
  top: 0svh;
  right: 0svh;
  bottom: 0svh;
  left: 0svh;
  z-index: -1;
  margin: -0.7svh;
  border-radius: inherit;
  background: white;
  mask: radial-gradient(circle, transparent 60%, white 62%);
}
.clickedStyles:hover {
  transform: scale(1.2);
}

/*
	#dspi {
		display: flex;
		position: absolute;
		width: output-width; height: input-size;
		outline: 0.4svh solid;

		top: $pos;
;
		border-radius: 5svh;
		background: white;
		left: rec-width - (output-width * 0.5);
		color: transparent;
*/

/*# sourceMappingURL=styles.css.map */
